*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

body{
    min-height: 100vh;
}
/*<-------------------- main-nav ------------------------->*/
.main-nav{
    color: #666666;
    align-items: center;
    display: flex;
    height: 50px;
    justify-content: flex-end;

}
.main-nav > *{
    margin: 0 0.5rem;
    cursor: pointer;
    
}
.main-nav .grid{
    display: grid;
    grid-template-columns: repeat(3, 4px);
    grid-template-rows: repeat(3, 4px);
    grid-gap: 2px;
    padding: 4px;
}

.main-nav .grid> div{
    background-color: grey; 
}
.main-nav img{
    width: 2em;
    height: 2em;
    border-radius: 50%;
    margin :0 2% 0 1%;
}

.main-nav li{
   display: inline-block;
   padding: 0 0.8rem;
  
}

.main-nav .grid:hover > *{
    background-color: #444444;
}

.main-nav li:hover{
    text-decoration: underline;
}

/*<-----------------------google-content--------------------------->*/

.google-content{
    text-align: center;
    height: auto; 
    display: grid;
    justify-items: center;
    align-items: center;
    
    align-content: center;
}

.google-content .googleimg{
    width: 20%;
    position: relative;
}

.search input{
    width: 600px;
    height: 2.2rem;
    font-size: 1.2rem;
    padding: 0 40px;
    outline: none;
    position: relative;
    border-radius: 20px;   
}

.btn{
    margin: 30px;
}
.btn button{
    padding: 5px 25px;
    outline: none;
    opacity: 0.8;
    color: #333;
    font-size: medium;
    border: 1px solid white;
    border-radius: 5px;
}

.btn button:hover{
    border: 1px solid #333;
    background-color: #eaeaea;
    color: black;
    box-shadow: 1px 1px 1px black;
}
.google-content a{
    text-decoration: none;
}

.search .mag{
    position: fixed; 
    left: 480px;
    margin-top: 8px;
}
.search .mic{
    position: absolute;
    margin-top: 10px;
    left:1030px;
    height: 19px;
}



/*<----------------------footer------------------->*/

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 14px;
    color: #666666;
}

.footer-country{
    padding: 15px 30px;
    background-color: rgb(238, 237, 237);
    border-top: 1px solid #cccccc;
}

.footer-products{
    height: 40px;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border-top: 1px solid #cccccc;
    padding-bottom: 33px;
    background-color: rgb(238, 237, 237);
    
}
.prod1 li{ 
    display: inline-block;
    padding: 0 10px;
}

.terms li{
    display: inline-block;
    padding: 0 10px;
}
li:hover {
    text-decoration: underline;
    cursor: pointer;

}